@*@model IEnumerable<DOTNETCoreCRUD.Models.BookViewModel>*@
@model System.Data.DataTable

@{
    ViewData["Title"] = "List Of Books";
}

<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Price
            </th>
            <th>
                <a asp-action="AddOrEdit">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
            </td>
        </tr>
}*@
@for(int i=0;i<Model.Rows.Count;i++)
{
    <tr>
        <td>
            @Model.Rows[i]["Title"]
        </td>
        <td>
            @Model.Rows[i]["Author"]
        </td>
        <td>
            @Model.Rows[i]["Price"]
        </td>
        <td>
            <a asp-action="AddOrEdit" asp-route-id="@Model.Rows[i]["BookID"]">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Rows[i]["BookID"]">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
